<form id="adminUserForm" lay-filter="adminUserForm" class="layui-form model-form">
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">账号</label>
        <div class="layui-input-block">
            <label>
                <input type="text" name="username" lay-verify="required" placeholder="请输入账号" autocomplete="off"
                       class="layui-input" lay-verType="tips">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">昵称</label>
        <div class="layui-input-block">
            <label>
                <input type="text" name="nickname" placeholder="请输入昵称" autocomplete="off"
                       class="layui-input" lay-verType="tips">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">手机</label>
        <div class="layui-input-block">
            <label>
                <input type="text" name="mobile" lay-verify="mobile" placeholder="请输入号码" autocomplete="off"
                       class="layui-input" lay-verType="tips">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">密码</label>
        <div class="layui-input-block">
            <label>
                <input type="password" name="password" lay-verify="password" placeholder="请输入密码" autocomplete="off"
                       class="layui-input" lay-verType="tips">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">角色</label>
        <div class="layui-input-block">
            <div id="userEditRoleSel"></div>
        </div>
    </div>
    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
        <button class="layui-btn" lay-filter="modelUserSubmit" lay-submit>保存</button>
    </div>
</form>
<script>
    layui.use(['admin', 'xmSelect'], function () {
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;
        var xmSelect = layui.xmSelect;

        //表单提交
        form.on('submit(modelUserSubmit)', function (data) {
            layer.load(2);
            admin.req("{:url('user/save')}", data.field, function (res) {
                layer.closeAll('loading');
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1});
                    admin.putLayerData('formOk', true, "#adminUserForm");// 设置操作成功的标识
                    admin.closeDialog("#adminUserForm");// 关闭页面层弹窗
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'post');
            return false;
        });

        // 渲染多选下拉框
        xmSelect.render({
            el: '#userEditRoleSel',
            name: 'roleIds',
            empty: '暂无数据',
            filterable: true,
            searchTips: '请输入角色名称',
            tips: '请选择角色',
            data: JSON.parse('{$roleList|raw}')
        });
    });
</script>