{include file="home/header"  title="系统管理—用户管理"/}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <!-- 表格检索栏 -->
            <form class="layui-form toolbar">
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" id="username" name="username" placeholder="请输入登录名" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-block">
                        <input type="text" id="nickname" name="nickname" placeholder="请输入昵称" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select id="status" name="status">
                            <option value="">请选择</option>
                            <option value="1">正常</option>
                            <option value="2">停用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline layui-form-item">
                    <label class="layui-form-label">角色</label>
                    <div class="layui-input-inline">
                        <div id="roleIds"></div>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-block">
                        <input type="number" id="mobile" name="mobile" placeholder="请输入手机号码" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button id="btnSearch" class="layui-btn layuiadmin-btn-admin" lay-submit lay-filter="btnSearch">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                    <span class="layui-btn layuiadmin-btn-admin" data-type="add" id="btnAdd">
                        <i class="layui-icon layui-icon-add-1 layuiadmin-button-btn"></i>
                    </span>
                </div>
            </form>
        </div>
        <table id="adminUserTable" lay-filter="adminUserTable"></table>
    </div>
</div>
<!-- 表格操作列 -->
<script type="text/html" id="tableBar">
    {{#  if(d.id > 1){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete"></i> 删除
    </a>
    <a class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
    {{#  } }}
</script>

<!-- 表格状态列 -->
<script type="text/html" id="tableStatus">
    {{#  if(d.id > 1){ }}
    <input type="checkbox" lay-filter="adminUserStatus" value="{{d.id}}" lay-skin="switch" style="width: 40px"
           lay-text="正常|停用" {{d.status==1?'checked':''}}/>
    {{#  } else { }}
    <input type="checkbox" value="{{d.id}}" lay-skin="switch" style="width: 40px" lay-text="正常" checked disabled/>
    {{#  } }}
</script>
<script type="text/javascript" src="https://www.layuicdn.com/layui/layui.js"></script>
<script type="text/javascript" src="__ADMIN__/assets/js/common.js?v=318"></script>
<script>
    layui.define(['admin', 'xmSelect'], function () {
        var $ = layui.$;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var layer = layui.layer;
        var xmSelect = layui.xmSelect;

        // 渲染表格
        var adminUserTable = table.render({
            id: "#adminUserTable",
            elem: '#adminUserTable',
            url: "{:url('user/getUserList')}",
            title: '后台用户表',
            text: {none: '暂无相关数据'},
            page: true,
            limit: 20,
            limits: [30, 60, 90],
            even: true,//开启隔行背景
            height: 'full-130',
            cols: [[
                {type: 'numbers', align: 'center', width: 30},
                {field: 'username', sort: true, title: '账号', width: 100},
                {field: 'nickname', sort: true, title: '昵称', width: 100},
                {field: 'mobile', sort: true, title: '手机号码', minwidth: 120},
                {field: 'role_name', sort: true, title: '角色名称', minwidth: 120},
                {field: 'create_time', sort: true, title: '加入时间', minwidth: 160},
                {field: 'update_time', sort: true, title: '更新时间', minwidth: 160},
                {templet: '#tableStatus', title: '状态', width: 100},
                {align: 'center', toolbar: '#tableBar', title: '操作', width: 300}
            ]]
        });

        // 渲染多选下拉框
        xmSelect.render({
            el: '#roleIds',
            name: 'roleIds',
            empty: '暂无数据',
            filterable: true,
            searchTips: '请输入角色名称',
            tips: '请选择角色',
            data: JSON.parse('{$roleList|raw}')
        });

        // 添加
        $('#btnAdd').click(function () {
            showEditModel();
        });

        //表格搜索
        form.on('submit(btnSearch)', function (data) {
            adminUserTable.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        // 工具条点击事件                             2
        table.on('tool(adminUserTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (data.id === 1) {
                //超级管理员
                layer.msg('超级管理员信息不可更改，请联系平台管理员', {icon: 2});
                return false;
            }
            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') { // 删除
                del(data.id, data.username);
            } else if (layEvent === 'reset') { // 重置密码
                resetPsw(data.id, data.username);
            }
        });

        //弹窗新增/编辑
        function showEditModel(mUser) {
            var layIndex = admin.open({
                area: ['500px', '450px'],
                title: mUser ? '修改' + mUser.username + '|' + mUser.id + '管理员信息' : '添加管理员信息',
                url: mUser ? 'edit.html?id=' + mUser.id : 'create.html',
                data: {user: mUser},//传递数据到表单页面
                success: function (layero, dIndex) {
                    // 弹窗超出范围不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                },
                end: function () {
                    if (admin.getLayerData(layIndex, 'formOk')) {  //判断表单操作成功标识
                        adminUserTable.reload();  //成功刷新表格
                    }
                }
            });
        }

        //删除
        function del(id, name) {
            top.layer.confirm('确定要删除“' + name + '”吗？', {
                skin: 'layui-layer-admin'
            }, function (i) {
                top.layer.close(i);
                layer.load(2);
                admin.req("{:url('user/delete')}", {
                    id: id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1});
                        adminUserTable.reload();
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'post');
            });
        }

        //重置密码
        function resetPsw(id, username) {
            top.layer.confirm('确定要重置“' + username + '”的登录密码吗？', {
                skin: 'layui-layer-admin'
            }, function (i) {
                top.layer.close(i);
                layer.load(2);
                admin.req("{:url('user/resetPwd')}", {
                    id: id
                }, function (res) {
                    layer.closeAll('loading');
                    if (res.code === 0) {
                        layer.msg(res.msg, {icon: 1});
                    } else {
                        layer.msg(res.msg, {icon: 2});
                    }
                }, 'post');
            });
        }

        // 修改用户状态
        form.on('switch(adminUserStatus)', function (obj) {
            layer.load(2);
            admin.req("{:url('user/updateStatus')}", {
                id: obj.elem.value,
                status: obj.elem.checked ? '1' : '2'
            }, function (res) {
                layer.closeAll('loading');
                if (res.code === 0) {
                    layer.msg(res.msg, {icon: 1});
                } else {
                    layer.msg(res.msg, {icon: 2});
                    $(obj.elem).prop('checked', !obj.elem.checked);
                    form.render('checkbox');
                }
            }, 'post');
        });
    });
</script>
</body>
</html>