{include file="home/header"  title="程序员小晨—博客后台管理中心"/}
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!-- 头部 -->
    <div class="layui-header">
        <div class="layui-logo">
            <img src="__ADMIN__/assets/images/logo.png"/>
            <cite>&nbsp;程序员小晨博客</cite>
        </div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="flexible" title="侧边伸缩"><i class="layui-icon layui-icon-shrink-right"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="refresh" title="刷新"><i class="layui-icon layui-icon-refresh-3"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a title="前台首页" href="{:url('/')}" target="_blank"><i class="layui-icon layui-icon-website"></i></a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="message" title="消息" data-url="{:url('home/message')}">
                    <i class="layui-icon layui-icon-notice"></i>
                    <span class="layui-badge-dot"></span>
                </a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="note" title="便签" data-url="{:url('home/note')}"> <i class="layui-icon layui-icon-note"></i> </a>
            </li>
            <li class="layui-nav-item layui-hide-xs" lay-unselect>
                <a ew-event="fullScreen" title="全屏"><i class="layui-icon layui-icon-screen-full"></i></a>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a>
                    <img src="__ADMIN__/assets/images/head.jpg" class="layui-nav-img">
                    <cite>超级管理员&nbsp;&nbsp;</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd lay-unselect><a ew-href="page/template/user-info.html">个人中心</a></dd>
                    <dd lay-unselect><a ew-event="psw">修改密码</a></dd>
                    <hr>
                    <dd lay-unselect><a ew-event="logout" data-url="{:url('login/logout')}">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-unselect>
                <a ew-event="theme" title="主题" data-url="{:url('home/theme')}"><i class="layui-icon layui-icon-more-vertical"></i></a>
            </li>
        </ul>
    </div>

    <!-- 侧边栏 -->
    <div class="layui-side">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree arrow2" lay-filter="admin-side-nav" lay-shrink="_all">
                <li class="layui-nav-item">
                    <a><i class="layui-icon layui-icon-home"></i>&emsp;<cite>Dashboard</cite></a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="{:url('home/index')}">工作台</a></dd>
                    </dl>
                </li>
                {include file="home/menu" /}
            </ul>
        </div>
    </div>

    <!-- 主体部分 -->
    <div class="layui-body"></div>

    <!-- 底部 -->
    <div class="layui-footer layui-text">
        copyright © 2020-2021 <a href="http://www.wujiachen.com.cn" target="_blank">wujiachen.com.cn</a> all rights reserved.
        <span class="pull-right">鄂ICP备19012253号-2</span>
    </div>
</div>

<!-- 加载动画 -->
<div class="page-loading">
    <div class="ball-loader">
        <span></span><span></span><span></span><span></span>
    </div>
</div>

<!-- js部分 -->
<script type="text/javascript" src="https://www.layuicdn.com/layui/layui.js"></script>
<script type="text/javascript" src="__ADMIN__/assets/js/common.js?v=318"></script>
<script>
    layui.define(['index'],function (){
        var index = layui.index;
        // 默认加载主页
        index.loadHome({
            menuPath: "{:url('home/index')}",
            menuName: '<i class="layui-icon layui-icon-home"></i>'
        });
    });
</script>
</body>
</html>